body {
  background-color: #f2ecee;
  margin: 0;
}

.navbar {
  background-color: rgb(29, 26, 26);
  color: #f2ecee;
  padding: 5px 10px;
  /* margin-bottom: 10px; */
}

.main{
  padding: 10px;
}
.container{
  flex-wrap: wrap;
}

label{
  display: block;
  font-size: 1rem;
  font-weight: 600;
}

input{
  width: 90%;
  margin: 10px 0;
  padding: 5px 0;
}